version: '3.8'
services:
  db:
    container_name: postgres_payments-17.6-alpine3.22
    image: postgres:17.6-alpine3.22
    restart: always
    environment:
      POSTGRES_USER: razangue
      POSTGRES_PASSWORD: razangue
      POSTGRES_DB: payment_manager
    ports:
    - 5434:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - payment-manager_backend
  adminer:
    container_name: postgres_payments-adminer-5.4.0-standalone
    image: adminer:5.4.0-standalone
    restart: always
    ports:
      - 9080:8080
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - payment-manager_backend

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - payment-manager_backend

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    depends_on:
      - kafka
    ports:
      - "8085:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    networks:
      - payment-manager_backend
volumes:
  postgres_data:
networks:
  payment-manager_backend: